@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

html, body {
    width: 100%;
    height: 100%;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
#content_container {
    display: flex;
    width: 100%;
    height: 70%;
    padding-left: 52%;
    padding-right: 11%;
    margin: 50px 5px 2px;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color: #fff;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid transparent;
    background: #fff;
}

#form_header {
    display: inline-block;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #fff;
    color: #000;
    margin-top: 70px;
}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;
    margin-top: 120px;

}

input {
    width: 100%;
    height: 25px;
    padding: 7%;
    padding-left: 10px;
    margin-bottom: 32px;
    background: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 18px;

}

#button_container {
    width: 42%;
    height: 50px;
    margin-left: 30%;
    background-color: #21de70;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.4s;
    box-shadow: 0 0 1rem #21de70;
}
.a{
    padding: 24px 10px;
    font-size: 16px;
    border: 2px solid hsl(0, 9%, 71%);
    border-radius: 40px;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .a:hover {
    border-color: #4c4646;
    color: black;
  }

#button_container button {
    width: 100%;
    height: 100%;
    background-color: #21de70;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
}
.custom-shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 283px;
}
.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(59% + 1.3px);
    height: 368px;
}

.custom-shape-divider-top .shape-fill {
    fill: #21DE70;
}
.custom-shape-divider-bottom .shape-fill {
    fill: #21DE70;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    height: 87%;
    width: 52%;
    overflow: hidden;
    line-height: 0;
}
.logo img{
    width: 46%;
    position: relative;
    left: 19.1rem;
    top: 16.29rem;
    margin: -55px -45px;
}