@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

html, body {
    width: 100%;
    height: 100%;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
#content_container {
    width: 35%;
    height: 70%;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color: #fff;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid transparent;
    background: #fff;
}

#form_header {
    display: inline-block;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #fff;
    color: #000;
    margin-top: 40px;
}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;
    margin-top: 120px;

}

input {
    width: 100%;
    height: 25px;
    padding: 7%;
    padding-left: 10px;
    margin-bottom: 32px;
    background: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 18px;

}

#button_container {
    width: 43%;
    height: 10%;
    margin-left: 30%;
    background-color: #21de70;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.4s;
    box-shadow: 0 0 1rem #21de70;
}
.a{
    border-radius: 20px;
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
    font-family: "Poppins", sans-serif;
    
}
.a{
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 2px solid hsl(0, 9%, 71%); /* Border style and color */
    border-radius: 5px; /* Border radius for rounded corners */
    background-color: transparent; /* Transparent background */
    color: #333; /* Text color */
    cursor: pointer; /* Cursor style */
    transition: all 0.3s ease; /* Smooth transition effect */
  }
  
  .a:hover {
    border-color: #4c4646;
    color: black; /* Text color on hover */
  }

#button_container button {
    width: 100%;
    height: 100%;
    background-color: #21de70;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
}

